# Lab 03: Fun with `pandas`!

Below are some exercises to get you working with `pandas` to manipulate data. As always, get as far as you can, and ask for help when you need it! Your teacher (me), you instructor, and your classmates are all here to help each other get better at coding. Getting the code to work is important, but do also take the time to make sure you understand what the commands are doing. This time, (with the exception of the Stroop challenge), all I've given you is the code to download the data. Then you are on your own. For the Stroop challenge, I gave the you code for the first stepâ€”after that, it's up to you :-)

## Music sales challenge

Write a script that:

1. Combines the tables of best-selling physical singles and best-selling digital singles on the Wikipedia page "List_of_best-selling_singles"
2. Adds a column which marks whether each row is from the list of physical singles or digital singles
3. Outputs the artist and single name for the year you were born. If there is no entry for that year, take the closest year after you were born.
4. Outputs the artist and single name for the year you were 15 years old.

In [1]:
# Starter code...

%pip install lxml
import pandas as pd

rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_best-selling_singles")

Requirement already satisfied: lxml in /opt/conda/lib/python3.10/site-packages (5.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#%pip list

In [3]:
#print(rawdata[3])

# best selling physical sinlges: rawdata[0]
phys_sing = pd.DataFrame(rawdata[0])
# Best selling digital singles: rawdata[3]
digi_sing = pd.DataFrame(rawdata[3])

# Step 3: Add a new column to mark the source of each row
phys_sing['Type'] = 'Physical'
digi_sing['Type'] = 'Digital'

# Step 4: Standardize column names (if needed) and merge the tables
combined_singles = pd.concat([phys_sing, digi_sing], ignore_index=True)

In [4]:
# Convert the 'Released' column to numeric for easier filtering
combined_singles['Released'] = pd.to_numeric(combined_singles['Released'], errors='coerce')

# Function to get artist and single for a specific year or the closest next year
def get_single_by_year(df, year):
    # Find the first entry for the exact year or the closest year after it
    result = df[df['Released'] >= year].sort_values(by='Released').iloc[0]
    return result['Artist'], result['Single']

# Input the birth year and calculate the year when the user turned 15
birth_year = 2004 
age_15_year = birth_year + 15

# Get the single for the birth year and the year the user turned 15
birth_year_artist, birth_year_single = get_single_by_year(combined_singles, birth_year)
age_15_artist, age_15_single = get_single_by_year(combined_singles, age_15_year)

# Output the results
print(f"In the year you were born ({birth_year}): {birth_year_artist} - {birth_year_single}")
print(f"In the year you were 15 ({age_15_year}): {age_15_artist} - {age_15_single}")

In the year you were born (2004): Taylor Swift - "Love Story"
In the year you were 15 (2019): Billie Eilish - "Bad Guy"


## Space challenge

1. Make a single dataframe that combines the space missions from the 1950's to the 2020's
2. Write a script that returns the year with the most launches
3. Write a script that returns the most common month for launches
4. Write a script that ranks the months from most launches to fewest launches

In [5]:
# Starter code...

#%pip install lxml
import pandas as pd

rawdata = pd.read_html("https://en.wikipedia.org/wiki/Timeline_of_Solar_System_exploration")

In [6]:
df_TSS = pd.DataFrame()

df1 = rawdata[0]
print(df1.columns)
#print(type(rawdata[0]))

for i in range(0,len(rawdata)-10):
    df = rawdata[i]
    print(df.columns)
    df_TSS = pd.concat([df_TSS,df])

# Assuming there's a 'Date' column in the format YYYY-MM-DD, convert it to datetime
df_TSS['Launch date'] = pd.to_datetime(df_TSS['Launch date'], errors='coerce')

Index(['Mission name', 'Launch date', 'Description', 'Ref(s)'], dtype='object')
Index(['Mission name', 'Launch date', 'Description', 'Ref(s)'], dtype='object')
Index(['Mission name', 'Launch date', 'Description', 'Ref(s)'], dtype='object')
Index(['Mission name', 'Launch date', 'Description', 'Ref(s)'], dtype='object')
Index(['Mission name', 'Launch date', 'Description', 'Ref(s)'], dtype='object')
Index(['Mission name', 'Launch date', 'Description', 'Ref(s)'], dtype='object')
Index(['Mission name', 'Launch date', 'Description', 'Ref(s)'], dtype='object')
Index(['Mission name', 'Launch date', 'Description', 'Ref(s)'], dtype='object')
Index(['Mission name', 'Launch date', 'Description', 'Ref(s)'], dtype='object')

In [7]:
# Find the year with the most launches
df_TSS['Year'] = df_TSS['Launch date'].dt.year
most_launches_year = df_TSS['Year'].value_counts().idxmax()
most_launches_count = df_TSS['Year'].value_counts().max()

print(f"The year with the most launches is {most_launches_year} with {most_launches_count} launches.")

The year with the most launches is 1965 with 12 launches.

In [8]:
# Find the most common month for launches
df_TSS['Month'] = df_TSS['Launch date'].dt.month
most_common_month = df_TSS['Month'].value_counts().idxmax()
most_common_month_count = df_TSS['Month'].value_counts().max()

print(most_common_month)
print(f"The most common month for launches is month number {most_common_month} in the calendar with {most_common_month_count} launches.")

11
The most common month for launches is month number 11 in the calendar with 30 launches.

In [9]:
# Rank the months from most launches to fewest
months_ranking = df_TSS['Month'].value_counts().sort_values(ascending=False)
months_ranking.index = months_ranking.index.map({
    1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June',
    7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'
})

print("Ranking of months by number of launches (from most to fewest):")
print(months_ranking)

Ranking of months by number of launches (from most to fewest):
Month
November     30
August       27
September    22
October      22
July         21
January      19
December     19
May          17
March        15
February     14
June         14
April        13
Name: count, dtype: int64

## Supervillain challenge

1. Write a script that combines the tables showing supervillain debuts from the 30's through the 2010's
2. Write a script that ranks each decade in terms of how many supervillains debuted in that decade
3. Write a script that ranks the different comics companies in terms of how many supervillains they have, and display the results in a nice table (pandas dataframe)

In [10]:
rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_comic_book_supervillain_debuts")

In [11]:
supervillain_df = pd.DataFrame()
for i in range(3,len(rawdata)):
    df = rawdata[i]
    #print(df)
    supervillain_df = pd.concat([supervillain_df,df])

print(supervillain_df["Year Debuted"])

0         1939 (June)
1         1939 (July)
2    1939 (September)
3     1939 (December)
0      1940 (January)
           ...
4       2016 (August)
5       2016 (August)
6                2017
7                2019
8                2019
Name: Year Debuted, Length: 636, dtype: object

In [12]:
%pip install ace_tools

Requirement already satisfied: ace_tools in /opt/conda/lib/python3.10/site-packages (0.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import re

# Extract the decade from the 'Year' column by dividing by 10, then multiplying back by 10
# This will handle both formats like '1939 (June)' and '2017'
supervillain_df['Year'] = supervillain_df['Year Debuted'].apply(lambda x: int(re.search(r'\d{4}', x).group()))
supervillain_df['Decade'] = (supervillain_df['Year'] // 10) * 10

# Count the number of debuts per decade
decade_ranking = supervillain_df['Decade'].value_counts().sort_index()

# Print the ranked decades
print("Ranking of decades by number of supervillain debuts:")
print(decade_ranking)

# Rank the different comic companies in terms of how many supervillains they have
company_ranking = supervillain_df['Company'].value_counts().sort_values(ascending=False)

# Display the company ranking in a pandas DataFrame for better presentation
company_ranking_df = pd.DataFrame(company_ranking).reset_index()
company_ranking_df.columns = ['Company', 'Supervillain Count']

print("Ranking of companies by number of supervillains:")
print(company_ranking_df)

Ranking of decades by number of supervillain debuts:
Decade
1930      4
1940     47
1950     26
1960    228
1970     97
1980     92
1990     84
2000     49
2010      9
Name: count, dtype: int64
Ranking of companies by number of supervillains:
                     Company  Supervillain Count
0                         DC                 338
1                     Marvel                 264
2          Fawcett Comics/DC                   6
3                      Image                   5
4                 Dark Horse                   5
5              Marvel/Timely                   4
6            Disney/Hyperion                   4
7                   Eternity                   3
8   Lev Gleason Publications                   1
9                     Comico                   1
10                    Mirage                   1
11              Image Comics                   1

## Stroop challenge

Every year between 2015 and 2021, the students in my Language, Cognition, and the Brain course participated in a version of the Stroop task. Using a stopwatch (ok, using their phones), they recorded how fast they could say a list of things (either reading or naming colors or color words). The column names mean "Reading with No Interference", "Naming with Interference", "Naming with No Interference", and "Reading with Interference". The times are in seconds.

### Stroop challenge 1: 
Transform these data from wide format to long format, so that the result is a dataframe with
- 1 column named "Participant_id" with a unique number for each participant (you can use the row indices)
- 1 column named "Year" with the year data
- 1 column named "Task" that shows which task they were doing
- 1 column named "RT" that shows their response time

In [19]:
# Starter code 1...

df = pd.read_csv("https://raw.githubusercontent.com/ethanweed/Stroop/master/Stroop-raw-over-the-years.csv")
print(df)

     Reading_NoInt  Naming_Int  Naming_NoInt  Reading_Int  Year
0             4.16        6.76          4.45         4.65  2015
1             4.35        7.73          4.78         4.46  2015
2             3.60        7.00          4.00         3.50  2015
3             3.90        9.03          4.60         6.30  2015
4             4.22        9.98          6.83         6.24  2015
..             ...         ...           ...          ...   ...
177           4.30        7.08          6.25         4.28  2021
178           4.75        9.66          6.12         5.49  2021
179           4.98        7.52          6.73         5.16  2021
180           5.16        8.81          8.19         5.51  2021
181           4.27       10.40          5.32         4.59  2021

[182 rows x 5 columns]

In [20]:
# Starter code 2...

# Make a new column using the dataframe indices as particpant numbers

df.index.name = 'Participant_id'
df = df.reset_index()

#df.reset_index(inplace = True)
# NOTE: This line does exactly the same thing as the line above:
# it replaces the original df with a new df with the updated index. That's what
# "inplace = True" means. Or, you can just assign the dataframe with the updated index
# to a new dataframe with the same name as the old dataframe, which is what I did above.
# The end result is the same.

df

,Participant_id,Reading_NoInt,Naming_Int,Naming_NoInt,Reading_Int,Year
0,0,4.16,6.76,4.45,4.65,2015
1,1,4.35,7.73,4.78,4.46,2015
2,2,3.60,7.00,4.00,3.50,2015
3,3,3.90,9.03,4.60,6.30,2015
4,4,4.22,9.98,6.83,6.24,2015
...,...,...,...,...,...,...
177,177,4.30,7.08,6.25,4.28,2021
178,178,4.75,9.66,6.12,5.49,2021
179,179,4.98,7.52,6.73,5.16,2021
180,180,5.16,8.81,8.19,5.51,2021
181,181,4.27,10.40,5.32,4.59,2021

In [21]:
# Use pandas.melt to transform the wide data to long format
long_df = pd.melt(df, id_vars=['Participant_id', 'Year'], 
                  value_vars=['Reading_NoInt', 'Naming_Int', 'Naming_NoInt', 'Reading_Int'],
                  var_name='Task', value_name='RT')

In [22]:
print(long_df)

     Participant_id  Year           Task    RT
0                 0  2015  Reading_NoInt  4.16
1                 1  2015  Reading_NoInt  4.35
2                 2  2015  Reading_NoInt  3.60
3                 3  2015  Reading_NoInt  3.90
4                 4  2015  Reading_NoInt  4.22
..              ...   ...            ...   ...
723             177  2021    Reading_Int  4.28
724             178  2021    Reading_Int  5.49
725             179  2021    Reading_Int  5.16
726             180  2021    Reading_Int  5.51
727             181  2021    Reading_Int  4.59

[728 rows x 4 columns]

## Stroop challenge 2 (Advanced!!!):

Make a new dataframe which shows the mean response time (in seconds) for each task for each year.

In [23]:
# Step 4: Group by 'Task' and 'Year' and calculate the mean response time
mean_rt_df = long_df.groupby(['Year', 'Task'])['RT'].mean().reset_index()

# Step 5: Display the new DataFrame with mean response time
print(mean_rt_df)

    Year           Task         RT
0   2015     Naming_Int   8.617143
1   2015   Naming_NoInt   5.123571
2   2015    Reading_Int   4.446429
3   2015  Reading_NoInt   3.951429
4   2016     Naming_Int   8.859268
5   2016   Naming_NoInt   5.405610
6   2016    Reading_Int   5.340000
7   2016  Reading_NoInt   4.076098
8   2017     Naming_Int   9.311765
9   2017   Naming_NoInt   5.771176
10  2017    Reading_Int   5.492353
11  2017  Reading_NoInt   4.414412
12  2018     Naming_Int   9.372667
13  2018   Naming_NoInt   5.298000
14  2018    Reading_Int   4.938667
15  2018  Reading_NoInt   3.886000
16  2019     Naming_Int   9.536087
17  2019   Naming_NoInt   6.345652
18  2019    Reading_Int   6.090870
19  2019  Reading_NoInt   4.935652
20  2020     Naming_Int   9.740833
21  2020   Naming_NoInt   5.962500
22  2020    Reading_Int   4.956667
23  2020  Reading_NoInt   4.395000
24  2021     Naming_Int  10.105484
25  2021   Naming_NoInt   6.387742
26  2021    Reading_Int   7.038065
27  2021  Reading_NoInt   4.842581